<p id="notice"><%= notice %></p>

<h1>

  <%= @user.username %>
</h1>

<p>
  <% if @user.ratings.empty? %>
      has not rated yet!
  <% else %>
      has made <%= pluralize(@user.ratings.length, "rating") %>, average <%= @user.average_rating %>
  <% end %>
</p>

<p>
  <% if @user.ratings.empty? %>
      not member in any beer club
  <% else %>
      member of
      <% @user.beer_clubs.each do |club| %>
          <%= link_to club.name, club %>
      <% end %>
  <% end %>
</p>

<h2> ratings </h2>
<ul>
  <% @user.ratings.each do |rating| %>
      <li> <%= rating %> <%= link_to 'delete', rating, method: :delete, data: {confirm: 'Are you sure?'} %> </li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
