<h1>
  <%= @user.username %>
</h1>

<p>
  <% if @user.ratings.empty? %>
      has not rated yet!
  <% else %>
      has made <%= pluralize(@user.ratings.length, "rating") %>, average <%= @user.average_rating %>
  <% end %>
</p>

<p>
  <% if @user.beer_clubs.empty? %>
      not member in any beer club
  <% else %>
      member of
      <% @user.beer_clubs.each do |club| %>
          <%= link_to club.name, club %>
      <% end %>
  <% end %>
</p>

<h2> Favorites</h2>

<ul>
  <li>
    <% if @user.favorite_beer.nil? %>
        has not favorite beer yet!
    <% else %>
        favorite beer <%= link_to @user.favorite_beer.name, @user.favorite_beer %>
        , <%= link_to @user.favorite_beer.brewery.name, @user.favorite_beer.brewery %>
    <% end %>
  </li>
  <li>
    <% if @user.favorite_style.nil? %>
        has not favorite style yet!
    <% else %>
        favorite style <%= link_to @user.favorite_style, @user.favorite_style %>
    <% end %>
  </li>
  <li>
    <% if @user.favorite_brewery.nil? %>
        has not favorite brewery yet!
    <% else %>
        favorite brewery <%= link_to @user.favorite_brewery, @user.favorite_brewery %>
    <% end %>
  </li>

</ul>

<h2> ratings </h2>
<ul>
  <% @user.ratings.each do |rating| %>
      <li>
        <%= rating %>
        <% if @user == current_user %>
            <%= link_to 'delete', rating, method: :delete, data: {confirm: 'Are you sure?'} %>
        <% end %>
      </li>
  <% end %>
</ul>
<% if current_user == @user %>
    <%= link_to 'Edit', edit_user_path(@user), class: 'btn btn-default' %>
    <%= link_to 'Destroy', @user, class: 'btn btn-danger', method: :delete, data: {confirm: 'Are you sure?'} %>
<% end %>

