<h1>
  <%= @user.username %>
  <% unless @user.active %>
      <span class="label label-info">account frozen</span>
  <% end %>
</h1>

<p>
  <% if @user.ratings.empty? %>
      has not rated yet!
  <% else %>
      has made <%= pluralize(@user.ratings.length, "rating") %>, average <%= round(@user.average_rating) %>
  <% end %>
</p>

<p>
  <% if @user.beer_clubs.empty? %>
      not member in any beer club
  <% else %>
      member of
    <ul>
      <% @user.memberships.each do |membership| %>
          <% if membership.confirmed %>
              <li>
                <%= link_to membership.beer_club.name, membership.beer_club %>
              </li>
          <% end %>
      <% end %>
    </ul>
    applied membership of
    <ul>
      <% @user.memberships.each do |membership| %>
          <% unless membership.confirmed %>
              <li>
                <%= link_to membership.beer_club.name, membership.beer_club %>
              </li>
          <% end %>
      <% end %>
    </ul>
<% end %>
</p>

<h2> Favorites</h2>

<ul>
  <li>
    <% if @user.favorite_beer.nil? %>
        has not favorite beer yet!
    <% else %>
        favorite beer <%= link_to @user.favorite_beer.name, @user.favorite_beer %>
        , <%= link_to @user.favorite_beer.brewery.name, @user.favorite_beer.brewery %>
    <% end %>
  </li>
  <li>
    <% if @user.favorite_style.nil? %>
        has not favorite style yet!
    <% else %>
        favorite style <%= link_to @user.favorite_style, @user.favorite_style %>
    <% end %>
  </li>
  <li>
    <% if @user.favorite_brewery.nil? %>
        has not favorite brewery yet!
    <% else %>
        favorite brewery <%= link_to @user.favorite_brewery, @user.favorite_brewery %>
    <% end %>
  </li>

</ul>

<h2> ratings </h2>
<ul>
  <% @user.ratings.each do |rating| %>
      <li>
        <%= rating %>
        <% if @user == current_user %>
            <%= link_to 'delete', rating, method: :delete, data: {confirm: 'Are you sure?'} %>
        <% end %>
      </li>
  <% end %>
</ul>
<br>
<% if @user == current_user %>
    <%= edit_and_destroy_buttons(@user) %>
<% end %>
<% if current_user and current_user.admin and !@user.admin %>
    <% if @user.active %>
        <%= link_to 'froze account', url_for([:toggle_froze, @user]), method: :post, class: 'btn btn-danger', data: {confirm: 'Are you sure?'} %>
    <% else %>
        <%= link_to 'reactivate account', url_for([:toggle_froze, @user]), method: :post, class: 'btn btn-danger' %>
    <% end %>
<% end %>
