<p id="notice"><%= notice %></p>

<h2>
  <%= @style.name %>
</h2>

<p>
  <%= @style.description %>
</p>
<p><strong>beers</strong></p>
<ul>
  <% for beer in @style.beers %>
      <li>
        <%= link_to beer.name, beer %> by <%= link_to beer.brewery.name, beer.brewery %>
      </li>
  <% end %>
</ul>
<% if current_user %>
    <p>
      <%= link_to('Edit', edit_style_path(@style)) %>
      <%= link_to('Destroy the style', @style, method: :delete, data: {confirm: 'Are you sure?'}) %>
    </p>
<% end %>
